*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0b44ad;
    color: #ffffff;
}

header{
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}
.creso{
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;

}
h1{
    text-align: center;
}

p{
    text-align: center;
}
input{
    width: 100%;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.sedeconnecter{
    margin: auto 0 auto auto;
     justify-self: end;
     border: 1px solid #dddddd;
     border-radius: 5px;
     padding: 10px;
     background-color: #0b44ad;
     color: #ffffff;
     font-weight: 600;
     font-size: 20px;
     cursor: pointer;
     display: flex;
     align-items: flex-end;
}
.boutonadmin{
    margin: auto 0 auto auto;
     justify-self: end;
     border: 1px solid #dddddd;
     border-radius: 5px;
     padding: 10px;
     background-color: #0b44ad;
     color: #ffffff;
     font-weight: 600;
     font-size: 20px;
     cursor: pointer;
     display: flex;
     align-items: flex-end;

}

.bouton{
    text-align: center;
    margin: auto;
    width: 105%;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #0b44ad;
    color: #ffffff;
    cursor: pointer;
}
.boutonvert{
    width: 105%;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: green;
    color: #ffffff;
    cursor: pointer;
}
.boutonuser{
     border: 1px solid #dddddd;
     border-radius: 5px;
     padding: 10px;
     color: #ffffff;
     cursor: pointer;
     display: flex;
     text-align: center;
     display: flex; /*pour que la div soit flexible*/
     justify-content: center; /*aligne les div horizontalement */
     align-items: center; /*verticalement */
    }

.box{
    display: flex; /*pour que la div soit flexible*/
    flex-direction: column;
}
.login{
    display: flex;
    justify-content: center;/*aligne les div horizontalement */
    align-items: center;/*verticalement */
    height: 60vh;
}
.container{
    display: flex;
    justify-content: center;/*aligne les div horizontalement */
    align-items: center;/*verticalement */
    height: 60vh;
}
.text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.texte{
    font-size: 20px;
    font-weight: 600;
    margin-left: 90px;
}
.titre{
    text-align: center;
}

table {
    border-collapse: collapse; /* Pour que les bordures des cellules soient fusionnées */
    width: 100%;/*pour que la table prenne toute la largeur de la page*/
    margin: auto; /*pour centrer la table*/
}

th, td {
    border: 1px solid #dddddd; /* Pour les bordures des cellules */
    padding: 8px; /* Pour les espaces entre les cellules */
    text-align: left; /* Pour aligner le texte à gauche */
}

th {
    text-align: center;
    background-color: blue;
    font-weight: bold;
}
td{
    text-align: center;
}

#test
{
    background-color: green;
}
